<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .card {
            border: 1px solid #ccc;
            padding: 10px;
            margin: 10px;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1> Avaliações das Turmas!</h1>
    <br/>
    <h1>Avaliacoes</h1>
    <div class="results">
        {% for result in results %}
            <div class="card">
                <h3>{{ result[2] }}, Turma:{{ result[3] }}</h3>
                <td>{{ result[0] }} - {{ result[1] }}</td>
                <td><a href="{{ url_for('avaliar', turma_id=result[3]) }}">Avaliar</a></td>
            </div>
        {% endfor %}
    </div>
    

   
    <br/>
</body>
</html>