<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .card {
            border: 1px solid #ccc;
            padding: 10px;
            margin: 10px;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1> Avaliações das Turmas!</h1>
    <br/>
    <h1>Turmas</h1>
    <div class="turmas">
        {% for turma in turmas %}
            <div class="card">
                <h3>{{ turma.nome }}</h3>
                <p>{{ turma.descricao }}</p>
                <a href="{{ url_for('avaliacao', id=turma.id) }}">Avaliações</a>
            </div>
        {% endfor %}
    </div>
    

   
    <br/>
</body>
</html>